############################
# Node / Express Server
############################
server/node_modules/

############################
# React Client
############################
client/node_modules/

############################
# Python / FastAPI ML Service
############################
ml_service/venv/

.env
